---
import { Image } from "astro:assets";

import LowePlumbing from "../assets/lowePlumbing.jpg";

interface MenuItem {
  name: string;
  href: string;
}

interface Props {
  logo?: string;
  menuItems: MenuItem[];
  phone?: string;
}

const { menuItems, logo, phone } = Astro.props;
---

<header class="bg-brand text-brand-fg border-border sticky top-0 z-50 border-b">
  <div
    class="mx-8 flex h-20 max-w-9/10 items-center justify-between sm:px-8 lg:mx-auto lg:px-12"
  >
    <a
      href="/#top"
      class="focus:ring-accent focus:ring-offset-raised flex h-full items-center py-3 text-lg font-semibold transition-all hover:opacity-80 focus:ring-2 focus:ring-offset-2 focus:outline-none lg:text-2xl"
      >{
        typeof logo === "string" ? (
          logo
        ) : (
          <Image
            src={LowePlumbing}
            alt=""
            class="h-full w-auto rounded-lg object-contain"
            aria-label="Lowe Plumbing and Drain Cleaning Logo"
          />
        )
      }</a
    >
    <!-- Desktop Nav -->
    <nav class="hidden gap-8 text-base md:flex">
      {
        (menuItems ?? []).map((item) => (
          <a
            href={item.href}
            class="focus:ring-accent focus:ring-offset-raised text-lg transition-all hover:opacity-80 focus:ring-2 focus:ring-offset-2 focus:outline-none"
          >
            {item.name}
          </a>
        ))
      }
    </nav>

    <!-- Desktop Phone -->
    {
      phone && (
        <a
          href={`tel:${phone}`}
          class="text-accent focus:ring-accent focus:ring-offset-raised hidden items-end gap-2 text-xl font-bold hover:opacity-80 focus:ring-2 focus:ring-offset-2 focus:outline-none md:flex"
          aria-label={`Call us at ${phone}`}
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="block size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M20.25 3.75v4.5m0-4.5h-4.5m4.5 0-6 6m3 12c-8.284 0-15-6.716-15-15V4.5A2.25 2.25 0 0 1 4.5 2.25h1.372c.516 0 .966.351 1.091.852l1.106 4.423c.11.44-.054.902-.417 1.173l-1.293.97a1.062 1.062 0 0 0-.38 1.21 12.035 12.035 0 0 0 7.143 7.143c.441.162.928-.004 1.21-.38l.97-1.293a1.125 1.125 0 0 1 1.173-.417l4.423 1.106c.5.125.852.575.852 1.091V19.5a2.25 2.25 0 0 1-2.25 2.25h-2.25Z"
            />
          </svg>

          {phone}
        </a>
      )
    }

    <!-- Mobile Button -->
    <button
      id="menu-btn"
      class="focus:ring-accent focus:ring-offset-raised rounded-lg p-4 text-3xl transition hover:opacity-80 focus:ring-2 focus:ring-offset-2 focus:outline-none md:hidden"
      aria-label="Toggle Menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      ☰
    </button>
  </div>

  <!-- Mobile Menu -->
  <div
    id="mobile-menu"
    class="bg-brand text-brand-fg absolute max-h-0 w-full overflow-hidden transition-all duration-300 md:hidden"
  >
    <nav class="flex flex-col gap-4 pb-5 text-base font-medium">
      {
        (menuItems ?? []).map((item) => (
          <a
            href={item.href}
            class="focus:ring-offset-brand mx-8 text-lg hover:opacity-80 focus:ring-2 focus:ring-white focus:ring-offset-2 focus:outline-none"
          >
            {item.name}
          </a>
        ))
      }
      {
        phone && (
          <a
            href={`tel:${phone}`}
            class="text-accent focus:ring-offset-brand mx-8 text-xl font-bold focus:ring-2 focus:ring-white focus:ring-offset-2 focus:outline-none"
            aria-label={`Call us at ${phone}`}
          >
            {phone}
          </a>
        )
      }
    </nav>
  </div>
</header>

<script>
  const btn = document.getElementById("menu-btn");
  const menu = document.getElementById("mobile-menu");

  btn?.addEventListener("click", () => {
    const isOpen = menu?.style.maxHeight;

    if (isOpen) {
      menu!.style.maxHeight = "";
      btn.setAttribute("aria-expanded", "false");
    } else {
      menu!.style.maxHeight = menu!.scrollHeight + "px";
      btn.setAttribute("aria-expanded", "true");
    }
  });

  menu!.querySelectorAll("a").forEach((link) => {
    link.addEventListener("click", () => {
      menu!.style.maxHeight = "";
      btn?.setAttribute("aria-expanded", "false");
    });
  });
</script>
