---
import "../styles/global.css";
import Header from "../components/header.astro";
import Footer from "../components/footer/footer-with-form.astro";

const menuItems = [
  {
    name: "Services",
    href: "/#services",
  },
  {
    name: "Call",
    href: "/#call",
  },
];

const logo = "Logo";
const companyName = "Smith & Sons Plumbing";
const phone = "(555) 123-4567";

const { pageTitle = companyName } = Astro.props;
---

<!doctype html>
<html lang="en" class="h-full scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{pageTitle}</title>
    <meta name="description" content="Plumbers you can trust" />
    <meta name="theme-color" content="#1d4ed8" />
  </head>

  <body class="min-h-full bg-white text-zinc-900 antialiased">
    <div class="flex min-h-screen flex-col" id="top">
      <Header logo={logo} menuItems={menuItems} />

      <main class="max-w-90vw" role="main">
        <slot name="main" />
      </main>

      <Footer companyName={companyName} phone={phone} />
    </div>
  </body>
</html>
